.container {
  position: relative;
  color: white;
}

.top-left {
  position: absolute;
  top: 120px;
  left: 200px;
}

.content-2 {
  position: absolute;
  top: 500px;
  left: 200px;
  width: 75%;
  height: 25vh;
  border-radius: 10px;
}

.round-button {
  border-radius: 50%;
}

.content-8 {
  position: absolute;
  top: 3880px;
  left: 200px;
  width: 75%;
  height: 25vh;
  border-radius: 10px;
}

@media (max-width: 768px) {
  .content-1 {
    display: none;
  }

  .content-2 {
    display: none;
    margin-bottom: 0;
  }

  .content-3-img {
    width: 340px;
    height: 240px;
    margin-top: 0px;
  }

  .content-8 {
    display: none;
  }
}
