.form-forgot-password {
  position: relative;
  color: white;
}

.top-left {
  position: absolute;
  top: 120px;
  left: 200px;
}

@media (max-width: 768px) {
  .top-left {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
