.card-promo {
  background-color: #88b788;
  border-radius: 10px;
  margin: 10px 20px 20px 40px;
  height: 150px;
  width: 75%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.card-promo img {
  height: 60px;
  width: 60px;
}

.card-promo-text {
  font-size: 14px;
}
