* {
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
}

header {
  /* background-color: darkolivegreen; */
  height: 10vh;
  width: 100%;
  padding: 20px 100px 20px 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid grey;
}

.logo {
  display: flex;
  flex-direction: row;
  font-size: 15px;
  width: 30%;
  text-align: center;
  justify-content: center;
  /* background-color: lightseagreen; */
}

.brand-logo {
  height: 40px;
  width: 50px;
  /* background-color: darkmagenta; */
}

.brand-coffeeshop h3 {
  text-align: center;
  justify-content: center;
  width: 100%;
  height: 40px;
  /* background-color: blanchedalmond; */
}

nav {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
}

.helper {
  display: flex;
  width: 20%;
  justify-content: space-evenly;
}

.helper img {
  width: 30px;
  height: 30px;
}
