.header-content-2 {
  margin-left: 220px;
  width: 70%;
}

.header-content-3 {
  width: 30%;
}

@media (max-width: 768px) {
  .header-content-2 {
    margin-left: 20px;
    width: 100%;
  }

  .header-content-3 {
    width: 100%;
  }
}
