.chat-content {
  position: absolute;
  top: 120px;
  left: 200px;
}

@media (max-width: 768px) {
  .chat-content {
    position: absolute;
    top: 180px;
    left: 0px;
  }

  .chat-background img {
    object-fit: cover;
    height: 200vh;
  }
}
